table, td, th {  
    border: 20px solid rgb(214, 206, 206);
    
    text-align: left;
    background-color: lightgrey;
   
  }
  
  table {
    border-collapse: separate;
    width: 80%;
    margin: 50px auto;
    padding: 20px auto;
    
    
  }
  
  th, td {
    padding:  15px;
   
    
  }
  #result1, 
  #result2, 
  #result3, 
  #result4, 
  #result5, 
  #result6, 
  #result7, 
  #result8 {
      text-align: center;
      font-size: 16px;

  }
